@import "tailwindcss";

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer components {
  .input-field {
    @apply w-full bg-gray-800 p-3 rounded-lg border border-gray-700 focus:outline-none focus:ring-2 focus:ring-[#daa520] focus:border-[#daa520] transition-colors;
  }
  .primary-button {
    @apply w-full bg-[#daa520] text-black font-bold p-3 rounded-lg hover:bg-yellow-400 transition-colors disabled:bg-gray-600 disabled:cursor-not-allowed;
  }
  .secondary-button {
      @apply bg-transparent border border-gray-600 text-gray-300 font-bold p-3 rounded-lg hover:bg-gray-800 hover:text-white transition-colors;
  }
  .error-message {
    @apply text-red-400 text-sm mt-1;
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out forwards;
}

@layer utilities {
  .gradient-border {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #FBBF24, #F59E0B);
  }
}

/* Esconde as setas no Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esconde as setas no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}